{% extends 'base.html' %}
{% block logoutactive %}active{% endblock logoutactive %}
{% block title %}Success{% endblock title %}
{% block body %}
    <div class="alert alert-success my-5" role="alert">
        <div class="container">
            <h1 class="alert-heading font-weight-bold">Well done!</h1>
            <hr>
            <p class='h5'>An email has been sent with instructions to reset your password.
                Cheek Your <a class='text-success font-weight-bold' href="https://mail.google.com/mail/u/0/#inbox" class="alert-link">Email</a>
            </p>
            <hr>
        </div>
    </div>
{% endblock body %}

