
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block signinactive %}active{% endblock signinactive %}
{% block title %}SignIn{% endblock title %}
{% block body %}
    <div class="jumbotron mt-5 ">
        <div class="container">
            <h1 class='text-center font-weight-bold mb-4'>Reset Password</h1>
            <div class="container">
                <form method = 'POST'>
                {% csrf_token %}
                    <fieldset class = 'form-group'>                        
                        <!--{{ form.as_p}}-->
                        {{ form | crispy }}
                    </fieldset>
                    <div class = 'form-group'>
                        <button type="submit" class="btn btn-outline-success font-weight-bold float-right py-1">Confirm</button>
                    </div>      
                </form>
            </div>
        </div>
    </div>
{% endblock body %}

